body {
  background-color: #fffff7;
  cursor: default;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
}

.menu .items {
  display: flex;
}

.menu .item {
  padding: 0 1rem;
  color: #333;
  opacity: 0.5;
}

.menu .item.selected,
.menu .item:hover {
  opacity: 1;
}

circle.renewable {
  fill: #7fb069;
}

circle.oilgascoal {
  fill: none;
  stroke: #bcb5b2;
}

circle.hydroelectric {
  fill: none;
  stroke: #5eb1bf;
  stroke-dasharray: 3, 1;
}

circle.nuclear {
  fill: none;
  stroke: #f6ae2d;
  stroke-dasharray: 4, 2;
}

.country {
  pointer-events: all;
}

.country .label {
  text-anchor: middle;
}

.popup-center {
  opacity: 0;
}

.flourish-popup {
  pointer-events: none;
}
